language: python
python:
  - 2.6
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - pypy
  - pypy3

install:
  - "pip install -r requirements.txt"
  - "pip install -r requirements-dev.txt"
  - "pip install -e ."

script:
  - py.test
  # flake8 does not support Python 2.6
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then flake8; fi
